@media screen and (min-width: 768px) and (max-width: 1279px) {
  .first-page {
    justify-content: space-between;
    display: grid;
    grid-auto-rows: auto auto;
    gap: 0;
    grid-auto-rows: 40px;
  }
  .first-img {
    display: grid;
    grid-column: 2;
  }
  
  .close-tabs {
    margin: 0;
    display: grid;
    justify-self: flex-end;
  }
}
