:root {
  --white: #fff;
  --blue: #2a2367;
  --blue2: #6b5af9;
}

header {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
}

button {
  border: transparent;
  background: var(--white);
}

.first-page {
  display: grid;
  justify-content: space-between;
}
.close-tabs {
  justify-self: flex-start;
}
.first-list {
  position: fixed;
  max-width: 360px;
  display: grid;
  grid-auto-rows: 40px;
  grid-auto-columns: 275px;
  justify-items: center;
}
li {
  display: grid;
  text-align: center;
  text-decoration: none;
  color: #2a2367;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  list-style: none;
}
.first-shop {
  width: 161px;
}
.first-mail {
  margin-top: 200px;
  color: var(--blue2);
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.first-number {
  margin-top: 210px;
  color: var(--blue2 );
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.first-img {
  display: none;
}
